.input {
    width: 100%;
    position: absolute;
    margin-top:1.4rem;
    left: -10%;
    width: 40%;
    cursor:pointer;
    }

    .formSelect {
        width: 100%;
        display:inline;
    }

    .formControl {
        width: 17.5%;

}



 @media only screen and (max-width: 750px) {

    /* .input {
        position: absolute;
        left: 5%;
        width: 45%;
        margin-left: -40%;

    }
*/
input::placeholder {
    font-size: smaller;
}
}


                @media(max-width: 360px) {


                    input::placeholder {
                        font-size: 9px;
                    }
    }