.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;

}

p {
    margin: 1rem;
}

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10%);
}

.icon {
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem;
    transition: all 0.5s ease;

}

.icon:hover {
    transform: scale(1.5);
    color: yellowgreen;
}